[user]
  name = C Jones
  email = cj1917@ic.ac.uk
  username = Charl-AI

[init]
  defaultBranch = main

[core]
  editor = nvim

[pull]
  rebase = false

[credential "https://github.com"]
  helper = gh auth git-credential

[credential "https://gist.github.com"]
  helper = gh auth git-credential

[credential "https://git.overleaf.com"]
  username = cj1917@ic.ac.uk

[credential]
  helper = cache --timeout=604800
